{% extends 'base.html.twig' %}
{% block title %}À propos de nous
{% endblock %}
{% block body %}

	<section class="flex text-4xl font-bold h-48 items-center justify-center bg-section-header w-screen -mx-40 mb-24">
		<H2>A propos de nous</H2>
	</section>

	<section class="flex divide-x my-24">
		<div class="w-1/3">
			<h3 class="text-2xl font-bold secondary-color">Sommaire</h3>
			<ul class="list-disc">
				<li> <a href="#charte">CHARTE des valeurs</a></li>
				<li> <a href="#whois">Qui sommes nous ?</a></li>
				<li> <a href="#reseaux-breton">Le réseau breton des MLCC : une réalité!</a></li>
			</ul>
		</div>
		<div class="w-2/3 pl-16">
			<h3 class="flex text-3xl my-8 text-center secondary-color font-bold" id="charte">CHARTE des valeurs</h3>
			<br>
				CHARTE des valeurs
				L'association OURSE (Organisons Une Réappropriation Solidaire de l'Économie) met en place une monnaie locale complémentaire et citoyenne dans la région de basse Vilaine faisant de l?argent un outil de développement local, en dehors de toute spéculation et accumulation.</br></br>
				Nous souhaitons reconsidérer la place de l'argent dans nos systèmes d'échange. Nous savons qu'une monnaie peut être porteuse de sens et de valeurs.</br>
                En adhérant à l'association « OURSE », nous nous engageons à utiliser la monnaie locale comme :</br></br>
                <ul class="list-disc ml-8">
                    <li>Porteuse de valeurs éthiques, écologiques, et sociales dans une recherche de mieux-être collectif ;</li>
                    <li>Outil pour inciter chacun à mieux comprendre sa façon de produire et de consommer ;</li>
                    <li>Moyen de contribuer à une alternative non-spéculative au modèle économique actuel.</li>
                </ul>
				
				En signant cette Charte des valeurs, nous nous engageons en tant que consommateur-trice ouPrestataire citoyen(ne), prestataire, collectivité ou partenaire financier à :</br></br>
                <ul class="list-disc ml-8">
                    <li>développer un réseau afin de favoriser la solidarité et la coopération entre différents acteurs</li>
                    <li>utiliser la monnaie locale complémentaire comme un outil collectif destiné à fluidifier les échanges dans un esprit d?équité et d?entraide entre citoyens et entreprises</li>
                    <li>adopter des comportements économiques de production et de consommation plus cohérents, en harmonie avec l?environnement et sauvegardant l?évolution de la vie.</li>
                </ul></br></br>
				Nous souhaitons que ce projet soit accessible à tous, pédagogique et construit ensemble dans le respect de nos différences.Nous adhérons à cette charte des valeurs et à son état d'esprit.
			</p>

            <h3 class="flex text-3xl my-8 text-center secondary-color font-bold" id="whois">Qui sommes nous ?</h3>
            <p>
                Une association créée en 2017.</br>
                Le siège se situe à la Roche Bernard. Depuis la projection du film Demain, nous nous réunissons chaque jeudi pour faire vivre notre une Monnaie Locale. Nous sommes des citoyens.nes impliqués. es dans la vie locale, désireux.reuses de faire fructifier l'économie de proximité, et redonner du sens à l'échange monétaire.</br></br>

                Pour favoriser les échanges</br>
                En créant un outil monétaire favorisant les circuits courts afin de faire vivre une économie de proximité et humaine.</br></br>

                En toute légalité</br>
                Les monnaies locales sont tout à fait légales. Un rapport parlementaire de 2015 encourage même leur développement. La MLCC circule dans un réseau d?adhérents. Elle s?indexe à parité sur l?Euro.</br></br>

                tout adhérent d'une des monnaies locales bretonne peut utiliser l'une de ces monnaies sans ré adhérer.
            </p>

            <h3 class="flex text-3xl my-8 text-center secondary-color font-bold" id="reseaux-breton">Le réseau breton des MLCC : une réalité!</h3>
            <p>
            Lien à visiter
            <ul class="list-disc ml-8">
                <li>MLCC nationales,</li>
                <li>MLCC la bizh (Vannes, Sarzeau...),</li>
                <li>MLCC du Rozo,</li>
            </ul>
            tout adhérent d'une des monnaies locales bretonnes peut utiliser l'une de ces monnaies sur leur territoire sans ré adhérer, simplement en en achetant dans un comptoir d'échanges locales.
            </p>
		</div>
	</section>

{% endblock %}
