{% extends 'base.html.twig' %}
{% block title %}Professionnel
{% endblock %}
{% block body %}

	<section class="flex text-4xl font-bold h-48 items-center justify-center bg-section-header w-screen -mx-40 mb-24">
		<H2>Professionnel</H2>
	</section>

	<section class="my-24">
		<h2 class="text-3xl my-8 text-center secondary-color font-bold">Comment cela fonctionne-t-il ?</h2>
		<p>Pour pouvoir vous faire payer en OURSE
			<br><br>

			Vous remplissez une
			<strong>demande d'agrément</strong>
			en acceptant
			<a href="#" class="secondary-color font-bold">la charte</a>. faisable en ligne en suivant
			<span>
				<a href="https://framaforms.org/ourse-agrement-prestataire-1580908990" class="secondary-color font-bold">ce lien</a>
			</span>La cotisation annuelle est de 20 euro, plus 10 euro par équivalent temps plein dans la structure.
		</p>
		<br>
		<br>
		Les OURSE obtenues peuvent ensuite être utilisées comme dépense personnelle du professionnel, paiement d'un part du revenu des salariés s'ils sont d'accord ou en règlement des factures de ses fournisseurs à hauteur maximum de 1 000,00 Euro si ceux-ci sont aussi prestataires de l'OURSE.</p>
	<h2 class="text-3xl my-8 text-center secondary-color font-bold">Corriger mes informations</h2>
	<span>
		<a href="#" class="secondary-color font-bold text-2xl">contactez nous!</a>
	</span>
	<br><br><br>
	<p>Je souhaite discuter entre prestataire pour améliorer la circulation de notre monnaie sur le territoire, ou pour tout autre chose...
    Vous pouvez rejoindre le groupe Prestataires de l'OURSE dans la messagerie Telegram et les salons d'échange écrit et vocal dans notre serveur Discord.
	</p>
</section>{% endblock %}
