{% extends 'base.html.twig' %}
{% block title %}Espace Admin{% endblock %}
{% block body %}
<a href="{{ path('app_post_new') }}">Créer une actualité</a>
<a href="{{ path('app_register') }}">Créer un utilisateur</a>
{% endblock %}