{% extends 'base.html.twig' %}
{% block title %}Créer une actualité{% endblock %}
{% block body %}
    <h1>Créer une actualité</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_admin_index') }}">Annuler</a>
{% endblock %}